@media screen and (min-width: 768px) {
  .humburger {
    display: none;
  }
  .decstop-nav{
    display: block;
  }
  .decstop-nav ul {
    display: flex;
    gap: 20px;
  }
  .decstop-nav ul li {
    list-style: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #1d1d1f;
    font-style: Regular;
    font-size: 16px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 243px;
  }
  section.hero.section {
    height: 600px;
}
   .hero .hero-title{
    padding: 0;
  }
 .hero .hero-image {
   overflow: visible;
           margin-top: 0px;
        position: absolute;
        top: 100px;
        right: 0;
  }
   .hero .hero-image > img {
    height: 634px;
    width: 468px;
    /* width: 100%; */
}
.card-cta-wrap{
  position: static;

}
.card-cta {
    top: 50%;
    position: absolute;
    right: 0px;
    left: -60px;
    width: fit-content;
    padding: 0 15px;
    z-index: 3;
}
.card-cta.flex-center.cta-left {
    left: 56%;
    top: 33%;
}
.hero .hero-shape {
    position: absolute;
    bottom: 0;
    right: 68px;
}


.our-star .our-benifits-wrap {
    flex-direction: row-reverse;
}
.counter-list {
    flex-direction: row;
}
  .decstop-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  .decstop-nav ul li {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s ease;
  }

  .decstop-nav ul li:hover {
    color: #06c167;
  }

  .decstop-nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  .decstop-nav ul li:hover::after {
    transform: translateX(-50%) scale(1);
  }


  .hero-section-wrap.flex.flex-col.align-center.justify-between {
    flex-direction: row;
}

.hero-text-wrap {
    width: 60%;
    padding-right: 150px;
            margin-top: 50px;
}

.hero-image {
    width: 40%;
}

.hero-title {
    text-align: start;
    font-size: 75px;
}

a.btn.btn-primary {width: fit-content;padding: 20px 30px;}


.hero-text {
    text-align: start;
}
.brend-logo {
    width: 50%;
}
.fuatures-wrap {flex-wrap: nowrap;}
section.features ,section.our-benifits , .our-products,.cta-section{
    margin-top: 100px;
}
.our-benifits-wrap {
    display: flex;
    gap: 30px;
    height: 600px;
}

.our-benifits-wrap > div {
    flex: 1;
}
.our-benifits-left img {
    width: 100%;
        height: 100%;

}
.our-benifits .section-title {
    padding-right: 192px;
}

.our-benifits .section-title {
    padding-right: 192px;
    text-align: start;
}

.our-benifits span.section-subtitle {
    text-align: start;
}
.our-benifits-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}


.section-title-wrap {
    margin-bottom: 40px;
}

.footer-area {
  
    padding-bottom: 10px;
}
.footer-wrap {
    flex-direction: row;
}
.footer-widget-list {
    width: 120px;
}
.copyright {
    margin-top: 10px;
    padding: 5px;
}
.brend-logo img:last-child {
    margin: 0 ;
}
.footer-widget {
    text-align: start;
}
form.subscribe {
    display: flex;
    gap: 15px;
}
.subscribe button[type="submit"] {
   
    width: 50%;
}
.our-products-cards{
  gap: 0;
}
.single-product-card{
  display: flex;
  flex: unset;
  width: 50%;
}
.single-product-card:nth-child(3),.single-product-card:nth-child(4){
  flex-direction: row-reverse;
}
.single-product-card-image {
    width: 50%;
    height: 290px;
}
.single-product-card-content {
    width: 50%;
}
.single-product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

}



@media screen and (max-width: 375px) {
  .decstop-nav {
    display: none;
  }

}